canvas#canvas {
    width: 80vmin;
    height: 80vmin;
    position: relative;
    display: block;
    margin: auto;
    border: 1px solid black;
}

#console {
    float: right;
    border: 1px solid black;
    position: absolute;
    right: 0;
    padding: 0;
}
